#root {
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  /* background: linear-gradient(180deg, #6fead1 0%, #5fc3f0 100%); */
  background-color: white;
  height: 100%;
}
.buttonAdd {
  background-color: rgb(60, 0, 255);
  color: white;
  padding: 0.6em 1.2em;
  height: 45px;
}

.NewDiv {
  display: flex;
  color: var(--text-color);
  border: 1px solid rgb(85, 82, 88);
  border-radius: 8px;
  margin-bottom: 8px;
  width: 600px;
  font-size: 10px;
  min-height: 100%;
  margin-right: 5px;
  padding-left: 10px;
}

.DelletButton {
  font-size: 30px;
  width: 37px;
}
.inputActive {
  margin-top: 6px;
  accent-color: #4caf50;
  transform: scale(1.2);
  cursor: pointer;
}

/* .post {
  display: flex;
    
} */

.value {
  width: 400px;
  height: 25px;
  border-radius: 5px;
  margin: 20px;
  font-size: 20px;
  border-color: blue;
  background-color: var(--input-color);
  color: var(--text-color);
}

.TodoLIST {
  background-color: rgb(237, 235, 235);
  border-radius: 10px;
}
.NewDiv {
  position: relative;
}

.NewDiv.done::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  min-height: 2px;
  background: #000;
  transform: translateY(-50%);
  pointer-events: none;
}

h1 {
  font-size: 30px;
  color: rgb(60, 0, 255);
}

.NewDiv {
  /* color: rgb(39, 154, 118); */
  font-size: 25px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.postBtn {
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 45px;
  margin-bottom: 10px;
}

.btnEditDel {
  display: flex;
  /* border: 1px solid rgb(93, 88, 97); */
  border-radius: 8px;
  height: 100%;
}
.btnEdit {
  padding: 0;
  margin: 0;
  height: 45px;
  width: 37px;
}
h1 {
  margin: 0;
}

.wrapper {
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
}

.valueAdd {
  height: 40px;
  width: 600px;
  font-size: 45px;
  border-radius: 5px;
  /* border-color: green; */
  border: 3px solid green;
  margin-bottom: 20px;
}

.lightMode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkMode {
  height: 20px;
  width: 20px;
}
.pMode {
  font-size: 20px;
  color: var(--text-color);
}
.imgEdit {
  margin-top: 6px;
}

.saveDel {
  display: contents;
}

/* .NEWOLD{
  height: 40px;
  margin-left: 2px;
display: inline-block;
  border: 2px solid #4f46e5;
} */
.NEWOLD {
  margin-left: 2px;
  display: inline-flex;
  border: 1px solid #5b5b64;
  border-radius: 12px;
  overflow: hidden;
}

.btnNew {
  padding: 10px 18px;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  color: #4f46e5;
  transition: 0.2s;
  border-right: 0.1px solid rgb(135, 133, 133);
}
.btnNew:hover {
  background: #eef2ff;
}

.btnOld.active {
  background: #4f46e5;
  color: white;
}
.btnOld {
  color: var(--text-color);
}

.MuiSvgIcon-root {
  color: var(--text-color);
}
.imgEdit {
  /* background-color: var(--background-color); */
}
.btnSaveTasks,
.btnNote {
  color: var(--btn-save-tasks);
  font-size: 22px;

}
.btnNote {
  color: black;
}